/* Home.css */

.container {
    text-align: center;
    padding: 20px;
    background: url('/public/Pictures/back.png') repeat;
    background-size: cover;  /* Make the background cover the entire container */
    background-attachment: fixed; 
    height: 650px;  /* Ensure the container takes up the full height */
  }
  
  .header {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bolder;
    color: black;
  }
  
  .image-container {
    margin-bottom: 20px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }
  
  .caption {
    margin-top: 10px;
    font-style: italic;
    font-weight: bolder;
    color: black;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  