/* ThxPookie.css */

.thx-pookie-container {
    text-align: center;
    padding: 20px;
    background: url('/public/Pictures/back.png') repeat;
    background-size: cover;  /* Make the background cover the entire container */
    background-attachment: fixed;
    height: 650px;

  }
  
  .image-container {
    margin-bottom: 20px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }
  
  .thanks-message {
    font-size: 18px;
    font-weight: bold;
  }
  